# Binaries for programs and plugins
*.dll
*.so
*.dylib
*.h
*.qrc
*.cpp 
moc_cgo_linux_linux_amd64.go 
rcc_cgo_linux_linux_amd64.go 
moc.go 
moc_cgo_windows_windows_amd64.go
rcc_cgo_windows_windows_amd64.go


# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/
